@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#f7f4f4;
  border-radius:  10px 0  0 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius:  20px 0  0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  background-color: #ffffff;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* :root{
  background-color: black;
} */

/* @font-face {
  font-family: 'conthrax-sb';
  src: url('/public/conthrax-sb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */


.shadow-bg{
  box-shadow: 0px 0px 125px 0px rgba(0, 0, 0, 0.25);
}
.shadow-nav{
  box-shadow: 0px 0px 125px 0px rgba(0, 0, 0, 0.5);
}
.shadow-new{
  box-shadow: 17px 0px 25px 7px rgba(0,0,0,0.25);
}
.shadow-new3{
  box-shadow: 17px 0px 25px 7px rgba(0,0,0,0.15);
}
.shadow-new2{
  box-shadow: -8px 0px 25px 7px rgba(0,0,0,0.25);}
.container {
  margin: 20px 0;
  /* padding-top:10px; */
  /* background:linear-gradient(#000,#000) center/5px 100% no-repeat;  */
}

.row {
  display: flex;
  color: #fff;
}

.item:not(:nth-child(2)) {
  flex-basis: 0%;
  flex-grow: 1;
}

.item:last-child {
  text-align: right;
}

.item span{
  background-color: blue;
  display:inline-block;
  /* padding: 16px; */
  border: 2px solid red;
  box-sizing:border-box;
}